<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{../assets/puma.ico}" type="image/x-icon">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" th:href="@{../css/styles.css}">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script th:src="@{../js/funciones.js}"></script>
    <title>Disciplinas</title>   
</head>
<body>
    <!-- container: no quita espacios
        container-fluid: quita espacios-->
    <div class="container">
        <!--Header-->
        <header class="row">
            <div class="col header">
                <div class="d-flex justify-content-around align-items-center">
                    <a href="https://www.unam.mx" style="text-decoration: none; color: white; height: 100%;">
                        <div class="d-inline-flex" >
                            <div style="padding-right: 20px;">
                                <img th:src="@{../assets/logo-unam.png}" class="" alt="logo UNAM" style="height: auto; width: 60px;">
                            </div>            
                            <div class="header-text align-self-center">
                                <span class="text-center">Universidad Nacional<br>Autónoma de México</span>
                            </div>                       
                        </div>
                    </a>
                    <a href="https://deporte.unam.mx" style="text-decoration: none; color: white; height: 100%;">
                        <div class="d-inline-flex">
                            <div class="align-self-center header-text">
                                <span class="text-center">Sistema<br>Pumadex</span>
                            </div> 
                            <div style="padding-left: 20px;">
                                <img th:src="@{../assets/LogoDeporteUNAM.png}" class="" alt="logo deporte unam" style="height: auto; width: 60px;">
                            </div>              
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <!--Navbar-->

        <div class="row" style="background: #e1b715; color: #202c56; padding: 8px; margin-bottom: 5px; border-radius: 5px;">
            <div class="col d-flex justify-content-between">
                <a th:href="@{/home}" style="text-decoration: none; color: #202c56;">
                    <div class="d-flex">
                        <div style="margin-left: 20px;margin-right: 5px;">
                            <span class="iconify" data-icon="ant-design:home-filled" style="color: #202c56; font-size: 25px;"></span>
                        </div>
                        <div class="align-self-end">
                            <span>Inicio</span>
                        </div>
                    </div>
                </a>
               
                <div class="dropdown">
                    <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #202c56;">
                        <div class="d-flex">
                            <div>
                                <span class="iconify" data-icon="carbon:user-avatar-filled" style="color: #202c56; font-size: 25px;"></span>
                            </div>
                            <div class="align-self-end" style="margin-left: 5px; margin-right: 20px;">
                                <span >Cuenta</span>
                            </div>
                        </div>                       
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background: #202c56;">
                        <li><a class="dropdown-item menu-usuario" th:href="@{/ajustes}">Ajustes de Cuenta</a></li>
                        <li><a class="dropdown-item menu-usuario" th:href="@{/salir}">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Body-->

        <section class="row" style="background: #edf5fc; border-radius: 5px; color: #202c56;">
            <div class="col d-flex flex-column justify-content-center" style="padding: 30px;">
                <div class="alert alert-warning alert-dismissible fade show" th:if="${error}" role="alert">
                    La disciplina <strong th:text="${nombreDisciplina}"> </strong> ya existe!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-success alert-dismissible fade show" th:if="${success}" role="alert">
                    Disciplina <span th:text="${action}"></span> con éxito!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" th:if="${internalError}" role="alert">
                    Error interno, disculpe los incovenientes.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" th:if="${errorExists}" role="alert">
                    Aún hay usuarios registrados bajo esta disciplina.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!--BodyHeader-->
                <div class="d-flex justify-content-between" style="margin-left: 30px; margin-right: 30px;">
                    <div class="align-self-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="d-flex">
                                <div class="" style="margin-right: 5px;">
                                    <span class="iconify" data-icon="fluent:add-square-24-filled" style="color: #f8f8f8; font-size: 20px;"></span>
                                </div>
                                <div class="" style="margin-top: 3px;">
                                    <span> Agregar</span>
                                </div>
                            </div>
                        </button>
                        <!-- Modal Agregar-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content" style="background: #202c56; border-radius: 8px;">
                                <div class="modal-header border-0">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                   
                                    <form class="d-flex flex-column align-items-center" style="color: #202c56;" method="post" th:action="@{/disciplina/agrega}">
                                        <div class="formulario">
                                            <span class="fs-3" style="color: #edf5fc;">Agregar una Disciplina</span>
                                        </div>
                                        <div class="formulario form-floating" >  
                                            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                                            <label for="nombre">Nombre</label>                    
                                        </div>
                                        <div class="d-flex justify-content-between" style="width: 350px; margin-bottom: 20px;">
                                            <div>
                                                <button type="submit" class="btn btn-success btn-lg m-2">
                                                    <div class="d-flex">
                                                        <div class="" style="margin-right: 5px;">
                                                            <span class="iconify" data-icon="el:ok-sign" style="color: #f8f8f8; font-size: 20px;"></span>
                                                        </div>
                                                        <div class="" style="margin-top: 3px;">
                                                            <span>Aceptar</span>
                                                        </div>
                                                    </div>
                                                </button>                     
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-danger btn-lg m-2" data-bs-dismiss="modal">
                                                    <div class="d-flex">
                                                        <div class="" style="margin-right: 5px;">
                                                            <span class="iconify" data-icon="ic:baseline-cancel" data-width="25" style="color: #f8f8f8; font-size: 20px;"></span>
                                                        </div>
                                                        <div class="" style="margin-top: 3px;">
                                                            <span>Cancelar</span>
                                                        </div>
                                                    </div>
                                                </button>                     
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <span style="font-size: 28px;">Disciplinas</span>
                        </div>
                        <div>
                            <span class="iconify" data-icon="circle-flags:olympics" style="font-size: 50px;"></span>
                        </div>
                    </div>
                </div>
                <!--Buscador-->
                <div class="align-self-end inner-addon left-addon" style="margin-top: 20px; margin-right: 40px;">
                    <i class="fa-solid fa-magnifying-glass form-control-feedback"></i>
                    <input type="text" id="miEntrada" onkeyup="buscarEnTabla()" placeholder="Buscar por nombre.." class="form-control" />
                </div>
                <!--Tabla-->
                <div id="tablaUsuarios" class="table-responsive" style="margin-top: 20px; max-height: 400px; background: #ac965a; padding: 20px; border-radius: 10px;  border: 3px solid #202C56;">
                    <div>
                        <table class="table table-hover" style="color: #202C56; border-bottom: #202C56; border-collapse: separate; border-spacing: 0 8px;">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody style="background: #edf5fc; border-radius: 5px;">
                              <tr th:each="disciplina : ${disciplinas}">
                                <td th:text="${disciplina.nombre}"></td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-row="${disciplina}" th:attr="data-bs-target='#modalEditar'+${disciplina.idDisciplina}">
                                        <span class="iconify" data-icon="clarity:edit-solid" style="color: #1ebcdf; font-size: 25px;"></span>
                                    </a>
                                </td>
                                <!-- Modal Editar Disciplina-->
                                <div th:fragment="modal" class="modal fade" id="modalEditar" th:id="modalEditar+${disciplina.idDisciplina}" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content" style="background: #202c56; border-radius: 8px;">
                                        <div class="modal-header border-0">
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body d-flex flex-column align-items-center">
                                            <div class="">
                                                <form class="d-flex flex-column align-items-center" style="color: #202c56;" method="post" th:action="@{/disciplina/edita}">
                                                    
                                                    <div class="formulario">
                                                        <span class="fs-3" style="color: #edf5fc;">Editar una Disciplina</span>
                                                    </div>
                                                    <input type="hidden" name="id" th:value="${disciplina.idDisciplina}"/>
                                                    <div class="formulario form-floating" >  
                                                        <input th:value="${disciplina.nombre}" name="nombre" type="text" class="form-control" id="nombre" placeholder="Disciplina" required>
                                                        <label for="nombre">Nombre</label>                    
                                                    </div>
                                                    <div class="d-flex justify-content-between" style="width: 350px; margin-bottom: 20px;">
                                                        <div>
                                                            <button type="submit" class="btn btn-success btn-lg m-2">
                                                                <div class="d-flex">
                                                                    <div class="" style="margin-right: 5px;">
                                                                        <span class="iconify" data-icon="el:ok-sign" style="color: #f8f8f8; font-size: 20px;"></span>
                                                                    </div>
                                                                    <div class="" style="margin-top: 3px;">
                                                                        <span>Aceptar</span>
                                                                    </div>
                                                                </div>
                                                            </button>                     
                                                        </div>
                                                        <div>
                                                            <button type="button" class="btn btn-danger btn-lg m-2" data-bs-dismiss="modal">
                                                                <div class="d-flex">
                                                                    <div class="" style="margin-right: 5px;">
                                                                        <span class="iconify" data-icon="ic:baseline-cancel" data-width="25" style="color: #f8f8f8; font-size: 20px;"></span>
                                                                    </div>
                                                                    <div class="" style="margin-top: 3px;">
                                                                        <span>Cancelar</span>
                                                                    </div>
                                                                </div>
                                                            </button>                     
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-row="${disciplina}" th:attr="data-bs-target='#modalEliminar'+${disciplina.idDisciplina}">
                                        <span class="iconify" data-icon="fluent:delete-24-filled" style="color: #f72a2a; font-size: 30px;"></span>
                                    </a>
                                </td>
                                <!-- Modal Eliminar Disciplina-->
                                <div th:fragment="modal" class="modal fade" id="modalEliminar" th:id="modalEliminar+${disciplina.idDisciplina}" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content modal-eliminar">
                                        <div class="modal-header border-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div> 
                                        <div class="modal-body">
                                            <p class="text-center fs-4 fw-light">
                                                ¿Seguro que desea eliminar: 
                                                <br>
                                                <span class="fw-bold" th:text="${disciplina.nombre}"></span> 
                                                <br>
                                                de la base de datos de disciplinas?
                                            </p>                                        
                                        </div>
                                        <div class="modal-footer border-0 justify-content-around">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-success">
                                                <a th:href="@{/disciplina/elimina(idDisciplina=${disciplina.idDisciplina})}" style="text-decoration: none; color: white;">Aceptar</a>
                                            </button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </tr> 
                                                               
                            </tbody>
                          </table>
                    </div>
                </div>

            </div>
        </section>
        

         <!--Footer-->
         <footer class="row">
            <div class="col footer">
                <div class="d-flex flex-column">
                    <!-- Redes Sociales-->
                    <div class="text-center" style="padding: 20px; padding-bottom: 0;">
                        <div class="d-inline-flex div-social-m">
                            <div class="">
                                <p class="text-center fw-normal" style="font-size: 12px;">Encuéntranos en:</p>
                            </div>
                            <div class="social-m">                              
                                <a href="https://www.facebook.com/DeporteUNAM1"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                <a href="https://twitter.com/deporteunam"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                <a href="https://www.instagram.com/deporteunam/"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                <a href="https://www.youtube.com/user/activdeportivas"><i class="fa-brands fa-youtube fa-lg"></i></a>
                                <a href="https://www.tiktok.com/@deporteunam?lang=es"><i class="fa-brands fa-tiktok fa-lg"></i></a>      
                            </div>
                        </div>
                    </div>
                    <!--Creditos-->
                    <div class="" style="padding: 20px;">
                        <p class="text-center fw-light lh-1" style="font-size: 10px;">
                            Hecho en México, Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados 2022. <br>
                            Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente <br>
                            completa y su dirección electrónica. De otra forma, requiere permiso previo por escrito de la institución. <br>
                            Consulta el <a href="" style="color:aqua; text-decoration: none;">Aviso de privacidad</a>  
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--Iconify-->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>